ion-menu {
    padding-top: 30px;
    margin-top: 40px;
    // background: white;
    ion-content {
        .uk-list {
            color: #4b4b4b;
            margin-top: 15px;
            padding: 10px;
            li{
                cursor: pointer;
            }
        }
        .icon {
            padding: 10px;
        }
    }
}

.nav-bar {
    padding: 8px;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    // background: rgb(83,82,237);
    color: white;
    background: rgb(125,95,255);
    background: linear-gradient(317deg, rgba(125,95,255,1) 14%, rgba(125,95,255,1) 39%, rgba(63,69,251,1) 88%, rgba(55,66,250,1) 93%);
}


.menu-footer {
    padding: 8px;
    cursor: pointer;
}

ion-content {
    --background: #fff;
}
