<!-- menu drawer -->
<ion-menu side="start" menuId="drawer">

  <ion-content>
      <ul class="uk-list uk-list-divider">
          <li routerLink="/notes">Notes</li>
          <li routerLink="/lists">Lists</li>
          <li routerLink="/teams">Teams</li>
          <li routerLink="/analytics">Analytics</li>
          <li routerLink="/Settings">Settings</li>
      </ul>
  </ion-content>

  <ion-footer class="menu-footer" (click)="logout()">
    <span uk-icon="icon: sign-in"></span> Logout
  </ion-footer>

</ion-menu>
  
  <ion-router-outlet main></ion-router-outlet>
  
<ion-content>

  <ion-header class="nav-bar">
    <!-- Menu icon to pull the menu -->
    <span uk-icon="icon: menu; ratio: 1.4" (click)="pullDrawer()"></span> 
    <!-- Search icon to pull search modal -->
    <span class="uk-align-right" href="#modal-full" uk-toggle> search </span>
  </ion-header>

    <!-- this is where the body is loaded -->
  <ng-content></ng-content>
  
    <!-- Search modal -->
  <div id="modal-full" class="uk-modal-full uk-modal" uk-modal>
      <div class="uk-modal-dialog uk-flex uk-flex-center uk-flex-middle" uk-height-viewport>
          <button class="uk-modal-close-full" type="button" uk-close></button>
          <form class="uk-search uk-search-large">
              <input class="uk-search-input uk-text-center" type="search" placeholder="Search..." autofocus>
          </form>
      </div>
  </div>

</ion-content>
  