#logo {
    display: block;
    margin: 0 auto;
    margin-top: 130px;
    width: 130px;
}

ion-content {
    --background: white;
}

#btn-container {
    font-family: 'Varela Round', sans-serif;
    font-family: 'Hind Siliguri', sans-serif;
    font-weight: bold;
    text-align: center;
    position: fixed;
    bottom: 70px;
    left: 0;
    right: 0;
    button {
        margin: 10px;
        background-color: white;     
        font-size: 18px;
        border-radius: 5px;
    }
}