#empty-state-container{
    position: relative;
    width: 100vw;
    height: 100vh;
    text-align: center;
    #empty-state {
        position: absolute;
        top: 50%;
        left: 50%;
        // width: 100px;
        // height: 100px;
        -webkit-transform: translate(-50%, -50%);  
        transform: translate(-50%, -50%);
        img {
            width: 200px;
            // display: block;
            // margin: 0 auto;
            position: relative;
            left: 50%;
            -webkit-transform: translateX(-100px);
            -ms-transform: translateX(-100px);
            transform: translateX(-100px);
        }
    }
}
