<app-primary-layout>

    <div class="cards-body">
      
        <ul class="uk-list uk-list-bullet">
            <li *ngFor="let list of lists">{{ list.name }}</li>
        </ul>

        <ul class="uk-list uk-list-bullet">
                <li *ngFor="let list of lists">{{ list.name }}</li>
            </ul>
            <ul class="uk-list uk-list-bullet">
                <li *ngFor="let list of lists">{{ list.name }}</li>
            </ul>
            <ul class="uk-list uk-list-bullet">
                <li *ngFor="let list of lists">{{ list.name }}</li>
            </ul>
            <ul class="uk-list uk-list-bullet">
                <li *ngFor="let list of lists">{{ list.name }}</li>
            </ul>
            <ul class="uk-list uk-list-bullet">
                <li *ngFor="let list of lists">{{ list.name }}</li>
            </ul>
            <ul class="uk-list uk-list-bullet">
                <li *ngFor="let list of lists">{{ list.name }}</li>
            </ul>

    </div>

</app-primary-layout>